<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="nav container">
        <div class="logo container">
            <img class="img" src="~/img/redmond.png" height="40" width="30" alt="Shalini">
            <p class="header"> Home</p>
            <a href>Projects </a>
            <a href>Contact</a>
        </div>
    </div>
    <div>
        <h3>About Me</h3>
        <p> Hi I am Shalini kumari</p>
    </div>
    
</body>
</html>